.workspace-wrap {
    .simulator {
        .screen {
            background: #fff;
            width: 373px;
            padding: 0px;
            margin:7px;
            border-radius: 5px 5px 0px 0px;
            border: 1px solid #cacaca;
            img{
                width:100%;
                margin:10px 0;
                padding: 0 10px;
            }
            .device{
                width: 100%;
                height: 680px;
            }
        }
    }
    .work-bench{
        padding:0px 2px;
        .editor{
            height:490px;
            .edit-content{
                padding:0 2px;
            }
            .folder-project{
                border:1px solid #ececec;
            }
        }
        .debug{
            height:227px;
            padding-top: 2px;
            .chrome-console{
                height: 100%;
                border: 1px solid #ececec;
            }
        }
    }
}